@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.banner-img {
    background: url('src/assets/banner-img.jpg');
    background-color: black;
    height: 109vh;
    background-size: cover;
    background-position-x: -360px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner-text {
    height: 400px;
    width: 40%;
    margin-left: 140px;
}

.banner-text h1 {
    color: white;
    font-size: 70px;
    font-family: popins,sans-serif;
}
.banner-text p {
    color: white;
    font-size: 18px;
    width: 555px;
    padding: 30px 0;
    line-height: 25px;
    font-family: popins,sans-serif;
}
.banner-box{
    width: 380px;
    height: 60px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 25px;
    border-style: none;
    box-sizing: border-box;
}
::placeholder {
  color: rgb(0, 0, 0);
}
