* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fsec-container {
    width: 100%;
    height: 750px;
    background: url('../assets/banner2.png');
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fsec-heading-logo {
    height: 200px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;

}

.fsec-heading-logo h1 {
    font-size: 45px;
    width: 550px;
}

.fsec-heading-logo img {
    height: 35px;
}

.fsec-grids {
    height: 500px;
    width: 80%;
    margin-top: 75px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
}

.fsec-gd {
    background: rgb(244, 242, 240);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.fsec-point {
    background: hsl(39, 88%, 55%);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 40px 0 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fsec-gd-heading-para{
    width: 100%;
    height: 250px;
}
.fsec-gd-heading-para h3{
    padding-left: 30px;
    padding-top: 10px;
    font-size: 30px;
}
.fsec-gd-heading-para p{
    padding-left:30px;
    padding-top: 25px;
    width: 85%;
    font-size: 18px;
    font-weight: 400;
}
