*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar{
    height: 170px;
    width: 100%;
    display: flex;
    align-items: center;justify-content: space-between;
    position: absolute;
    background: transparent;
}
.nav-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    width: 15%;
    margin-left: 125px;
    margin-top: 15px; 
}
.nav-side-items-container{
    width: 20%;
    height: 40%;
    display: flex;
    align-items: center;
    margin-right: 8%;
}
.nav-user-list{
    height: 40%;
    width: 20%;
    display: flex;
    align-items: center;

}
hr {
    height: 60%;
    width: 0.5%;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}
.nav-user-list img{
    height: 20px;
}
.menu{
    margin-left: 10px;
    height: 50%;
    width: 25%;
    display: flex;
    align-items: center;
}
.menu p {
    font-size: 18px;
    font-weight: 500;
    color: white;
}
.talkbtn{
    width: 40%;
    height: 65%;
    background: rgb(27, 125, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    color: white;
}