*{
    margin: 0;
    padding: 0;
}

.personal-container{
    width: 100%;
    height: 650px;
    background: rgb(251, 248, 242);
    display: flex;
    padding-top: 100px;
}
.personal-left-div{
    width: 100%;
    height: 100%;
    display: flex;
    /* background: #000; */
}
.personal-left-div .img1{
    width: 450px;
    height: 650px;
    margin-left: 130px;
    object-fit: contain;
}
.personal-left-div .img2{
    width: 450px;
    object-fit: contain;
    margin-left: -200px;
}
.personal-right-div{
    margin-left: 30px;
    margin-top: 40px;
}
.personal-right-div h3{
    font-size: 50px;
    width: 75%;
}
.personal-right-div h5{
    font-size: 16px;
    font-weight: 450;
    margin-top: 20px;
    width: 60%;
    margin-bottom: 20px;
}
.personal-para2{
    width: 55%;
    margin-bottom: 20px;
    margin-left: 40px;
}
.personal-drop1{
    background: rgb(212, 210, 210);
    width: 65%;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}
.personal-round-1{
    background: rgb(255, 221, 67);
    margin-left: 8px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.personal-top-picks{
    width: 250px;
    height: 230px;
    margin-left: -360px;
    background: transparent;
    margin-top: 230px;
}
.personal-top-picks button{
    height: 30px;
    width: 110px;
    border-radius: 20px;
    margin: 5px;
    border-style: none;
}
.personal-top-btn{
    width: 30px;
}