*{
    margin: 0;
    padding: 0;
}

.run-container{
    height: 280px;
    width: 100%;
    background: rgb(22, 166, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.run-container p{
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}
.run-logos {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    /* background: #000; */
}
.run-logos img{
    width: 250px;
    height: 30px;
    margin: 0 40px 0 10px;
}
.run-logos{
    overflow: hidden;
}