* {
    margin: 0;
    padding: 0;
}

.sec-container {
    width: 100%;
    height: 1020px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f0eb;
}
.headings {
    height: 200px;
    width: 80%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.headings p {
    color: rgb(22, 166, 255);
    font-size: 18px;
    font-weight: 500;
}

.headings h3 {
    color: rgb(51, 51, 51);
    font-size: 45px;
    width: 550px;
    margin-top: 30px;
}
.sec-btn-container{
    width: 110px;
    height: 50px;
    margin-top: 140px;
     display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-arrow-btn{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    font-weight: 700;
    background: rgb(22, 166, 255);
    color: white;
    border-style: none;
}

.sec-div-container{
    width: 80%;
    height: 620px;
    display: flex;
    overflow: auto;
}

.sec-div{
    background: rgb(22, 166, 255);
    height: 100%;
    width: 46%;
    border-radius: 10px;
    margin-right: 30px;
}
.sec-div iframe{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 310px;    
}
.logo-text-container{
    display: flex;
    width: 100%;
    height: 240px;
    margin-top: 50px;
}
.sec-logo{
    width: 45%;
    height: 50%;
}
.sec-logo img{
    width: 160px;
    padding-left: 30px;
    margin-top: 20px;
}
 .sec-txt {
    margin-left: 20px;
    margin-top: 15px;
    width: 400px;
    font-size: 18px;
    color: white;
}
.sec-txt .bold {
    font-weight: 600;
    width: 330px;
}